@import "./shortcuts.variables.css";

.shortcuts-module {
  width: 450px;
  overflow-x: auto;
  max-height: 100vh;
}

.shortcuts-category-title {
  font-size: 1em;
  font-weight: 300;

  margin: 0 auto;
  display: block;
}

.shortcuts-category-title:hover {
  text-decoration: underline;
}

.shortcuts-category-title--grayed {
  color: rgba(0, 0, 0, 0.5);
}
