@import "./shortcuts.variables.css";

.container {
  width: 450px;
  overflow-x: auto;
  height: 100vh;
}

.shortcuts-category-title {
  margin: 15px auto;
  outline: none;
  border: none;
  display: block;

  font-size: 1em;
  font-weight: 300;

  text-align: center;

  cursor: pointer;
}

.shortcuts-category-title:hover {
  text-decoration: underline;
}

.shortcuts-category-title--grayed {
  color: rgba(0, 0, 0, 0.5);
}
