.App {
  font-family: sans-serif;
  text-align: center;
}

:root {
  --table-border: 1px solid #ddd;
}

.form-group {
  display: flex;
}

table {
  background-color: #eee;
  border: var(--table-border);
  width: 350px;

  overflow: hidden;
}

td:not(:last-child) {
  border-right: var(--table-border);
}

td {
  overflow: hidden;
  word-wrap: none;
  text-overflow: ellipsis;
}
