@import "./colors.module.css";

.button {
  padding: 10px 15px;
  outline: none;

  width: 70px;

  cursor: pointer;
  border: none;
}

/* Button length */
.button--short {
  padding: 10px 5px;
  width: 50px;
}

.button--standard {
  padding: 10px;
  width: 70px;
}

.button--long {
  width: 100px;
}

/*** Button color styles for backgrounded and bordered buttons ***/

/* Primary */
.button--primary__backgrounded {
  background-color: var(--primary-background);
}

.button--primary__bordered {
  border: 1px solid var(--primary-border);
}

.button--primary__backgrounded:hover {
  background-color: var(--primary-hover-background);
}

.button--primary__boredered:hover {
  border: 1px solid var(--primary-hover-border);
}

.button--primary__backgrounded:focus {
  background-color: var(--primary-focus-background);
}

.button--primary__bordered:focus {
  border: 1px solid var(--primary-focus-border);
}

/* Notice */
.button--notice__backgrounded {
  background-color: var(--notice-background);
}

.button--notice__bordered {
  border: 1px solid var(--notice-border);
}

.button--notice__backgrounded:hover {
  background-color: var(--notice-hover-background);
}

.button--notice__bordered:hover {
  border: 1px solid var(--notice-hover-border);
}

.button--notice__backgrounded:focus {
  background-color: var(--notice-focus-background);
}

.button--notice__bordered:focus {
  border: 1px solid var(--notice-focus-border);
}

/* Danger */
.button--danger__backgrounded {
  background-color: var(--danger-background);
}
.button--danger__bordered {
  border: 1px solid var(--danger-border);
}

.button--danger__backgrounded:hover {
  background-color: var(--danger-hover-background);
}
.button--danger__bordered:hover {
  border: 1px solid var(--danger-hover-border);
}

.button--danger__backgrounded:focus {
  background-color: var(--danger-focus-background);
}
.button--danger__bordered:focus {
  border: 1px solid var(--danger-focus-border);
}
