.button {
  padding: 10px 15px;
  outline: none;

  width: 70px;

  cursor: pointer;
  border: none;
}

.button--short {
  width: 50px;
}

.button--standard {
  width: 70px;
}

.button--long {
  width: 100px;
}

.button--primary {
  background-color: var(--primary);
  border: 1px solid hsl(229, 100%, 85%);
}

.button--primary:hover {
  background-color: var(--primary-hover);
  border: 1px solid hsl(229, 94%, 80%);
}

.button--primary:focus {
  background-color: var(--primary-focus);
  border: 1px solid hsl(229, 94%, 70%);
}

.button--notice {
  background-color: var(--notice);
  border: 1px solid hsl(400, 100%, 85%);
}

.button--notice:hover {
  background-color: var(--notice-hover);
  border: 1px solid hsl(400, 100%, 80%);
}

.button--notice:focus {
  background-color: var(--notice-focus);
  border: 1px solid hsl(400, 100%, 70%);
}

.button--danger {
  background-color: var(--danger);
  border: 1px solid hsl(0, 100%, 85%);
}

.button--danger:hover {
  background-color: var(--danger-hover);
  border: 1px solid hsl(0, 100%, 80%);
}

.button--danger:focus {
  background-color: var(--danger-focus);
  border: 1px solid hsl(0, 100%, 70%);
}
