.cluster {
  display: grid;
}

.cluster > * {
  grid-row: 1;
}

.cluster-align--left {
  justify-content: start;
}
.cluster-align--right {
  justify-content: end;
}
.cluster-align--center {
  justify-content: center;
}
.cluster-align--space-between {
  justify-content: space-between;
}
.cluster-align--space-around {
  justify-content: space-around;
}
.cluster-align--stretch {
  justify-content: stretch;
}
